@use 'var' as v;
@use 'mixins' as m;
@use 'placeholders';
@use 'sass:color';

.header {
   width: 100%;
   height: 50px;
   background-color: color.adjust(v.$color-white, $alpha: -0.85);

   // background-color: v.$color-blue;
   border: {
      bottom: {
         width: 1px;
         style: solid;
         color: v.$color-white;
      }
   }

   .nav {
      height: 50px;
      color: v.$color-white;
      @include m.d-flex(start, center);

      &__title {
         height: 100%;
         width: 255px;
         border-right: 1px solid v.$color-white;
         @include m.d-flex(center, center);


         &-link {
            font-size: 25px;
            font-weight: 500;


            span {
               font-weight: 700;
            }

            @extend %hover-black;
         }
      }

      &__links {
         flex-grow: 1;


         .list {
            @include m.d-flex(start, center, nowrap, row, min(100px, 5vw), 0);
            padding: 0 0 0 min(100px, 5vw);

            &__item {
               &-link {
                  font-size: 22px;
                  font-weight: 400;
                  @extend %hover-black;
               }
            }
         }

         @media (max-width: v.$media_lg) {
            .list {
               @include m.d-flex(center, center, nowrap, row, min(100px, 5vw), 0);
               padding: 0;
            }
         }
      }

      .covid {
         height: 100%;
         padding: 0 30px;
         @include m.d-flex(center, center);

         border: {
            left: {
               style: solid;
               width: 1px;
               color: v.$color-white;
            }

            right: {
               style: solid;
               width: 1px;
               color: v.$color-white;
            }
         }

         &__link {
            font-size: 16px;
            font-weight: 700;

            @extend %hover-black;
         }
      }

      .globe {
         width: 90px;
         @include m.d-flex(center, center);

         &__link {
            &-icon {
               width: 27px;
               height: 29px;
               @extend %hover-black-icon;
            }
         }
      }
      
      @media (max-width: v.$media_md) {
      &__links,
      .covid,
      .globe {
         display: none;
      }
   }
   
   }
}





.mobile-navigation {
   display: none;
   &__burger {
      @include m.position(absolute, 10, -1, top, right, 13px, 20px);

      &-icon {
         width: 33px;
         height: 22px;
         stroke: v.$color-white;
         @extend %hover-black-icon;
      }
   }

   &__toggler {
      display: none;

      &:checked + .nav {
         translate: 0;
      }
   }

   .nav {
      padding: 100px 70px 0;
      @include m.position(fixed, 999, 0);
      background-color: color.adjust(v.$color-black, $alpha: -0.5);
      backdrop-filter: blur(10px);
      translate: 100% 0;
      transition: translate .5s;

      &__list {
         @include m.d-flex(start, start, nowrap, column, 0, 20px);

         &-item {
            &-link {
               @include m.font(36px, 400, v.$color-white);
               text-shadow: 2px 2px 5px rgba($color: #000000, $alpha: .3);

               &:hover{
                  cursor: pointer;
                  color: v.$color-black;
               }
            }
         }
      }   
   }

   &__close {
      @include m.position(absolute, 10, -1, top, right, 13px, 20px);
         &-icon {
         width: 25px;
         height: 22px;
         stroke: v.$color-white;
         @extend %hover-black-icon;
         }
      }







   @media (max-width: v.$media_md) {
      display: block;
   }
}